@-webkit-keyframes myAnimation {

    0% {
        top: 0;
        left: 0;
    }

    25% {
        background-color: aqua;
        width: 450px;
        height: 450px;
        -webkit-transform: rotate(360deg);
        top: 0;
        left: 500px;
    }

    50% {
        top: 500px;
        left: 500px;
    }

    75% {
        background-color: crimson;
        width: 150px;
        height: 150px;
        -webkit-transform: rotate(-360deg);
        top: 500px;
        left: 0;
    }

    100% {
        top: 0;
        left: 0;
    }
}


.anima {

    width: 300px;
    height: 300px;
    position: absolute;

    background-color: steelblue;

    -webkit-animation: myAnimation 2s infinite;
    -moz-animation: myAnimation 2s infinite;
    -o-animation: myAnimation 2s infinite;
    animation: myAnimation 2s infinite;

}